
<div class="col-md-2">
    <div class="main-header__info" style="width: 700px;">
        
<a href="{% url 'dashview'%}" class="main-header__info-phone m-3">
           
            <span class="main-header__info-phone-content">
                <span class="main-header__info-phone-text">View All </span>
                <span style="width: 200px;" class="main-header__info-phone-title">Your Product</span>
            </span><!-- /.main-header__info-phone-content -->
        </a><!-- /.main-header__info-phone -->
    </div><!-- /.main-header__info -->
    
    <div class="main-header__info" style="width: 700px;">
        
        <a href="{% url 'dashcontact' %}" class="main-header__info-phone m-3">
           
            <span class="main-header__info-phone-content">
                <span class="main-header__info-phone-text">View All </span>
                <span style="width: 200px;" class="main-header__info-phone-title">Contact Info</span>
            </span><!-- /.main-header__info-phone-content -->
        </a><!-- /.main-header__info-phone -->
    </div><!-- /.main-header__info -->
  
    <div class="main-header__info" style="width: 700px;">
        
        <a href="{% url 'dashboard'%}" class="main-header__info-phone m-3">
           
            <span class="main-header__info-phone-content">
                <span class="main-header__info-phone-text">ADD YOUR </span>
                <span style="width: 200px;" class="main-header__info-phone-title">FARM PRODUCT INFO</span>
            </span><!-- /.main-header__info-phone-content -->
        </a><!-- /.main-header__info-phone -->
    </div><!-- /.main-header__info -->

  
    <div class="main-header__info" style="width: 700px;">
        
        <a href="{% url 'dashpaid'%}" class="main-header__info-phone m-3">
           
            <span class="main-header__info-phone-content">
                <span class="main-header__info-phone-text">ADD YOUR </span>
                <span style="width: 200px;" class="main-header__info-phone-title">MY CUSTOMER INFO</span>
            </span><!-- /.main-header__info-phone-content -->
        </a><!-- /.main-header__info-phone -->
    </div><!-- /.main-header__info -->

  </div>

