{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url({% static 'images/backgrounds/page-header-bg-1-1.jpg' %});"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="index.html">Home</a></li>
            <li>/</li>
            <li><span>News</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>News Grid</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="blog-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <div class="blog-card__image">
                        <img src="{% static 'images/blog/blog-grid-1.jpg' %}" alt="Best Way to Do Eco and Agriculture">
                        <a href="blog-details.html"></a>
                    </div><!-- /.blog-card__image -->
                    <div class="blog-card__content">
                        <div class="blog-card__date">18 Nov</div><!-- /.blog-card__date -->
                        <div class="blog-card__meta">
                            <a href="blog-details.html"><i class="far fa-user-circle"></i> by Admin</a>
                            <a href="blog-details.html"><i class="far fa-comments"></i> 2 Comments</a>
                        </div><!-- /.blog-card__meta -->
                        <h3><a href="blog-details.html">Best Way to Do Eco and Agriculture</a></h3>
                        <a href="blog-details.html" class="thm-btn">Read More</a><!-- /.thm-btn -->
                    </div><!-- /.blog-card__content -->
                </div><!-- /.blog-card -->
            </div><!-- /.col-md-6 col-lg-4 -->
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <div class="blog-card__image">
                        <img src="{% static 'images/blog/blog-grid-2.jpg' %}" alt="Leverage agile frameworks to provide">
                        <a href="blog-details.html"></a>
                    </div><!-- /.blog-card__image -->
                    <div class="blog-card__content">
                        <div class="blog-card__date">18 Nov</div><!-- /.blog-card__date -->
                        <div class="blog-card__meta">
                            <a href="blog-details.html"><i class="far fa-user-circle"></i> by Admin</a>
                            <a href="blog-details.html"><i class="far fa-comments"></i> 2 Comments</a>
                        </div><!-- /.blog-card__meta -->
                        <h3><a href="blog-details.html">Leverage agile frameworks to provide</a></h3>
                        <a href="blog-details.html" class="thm-btn">Read More</a><!-- /.thm-btn -->
                    </div><!-- /.blog-card__content -->
                </div><!-- /.blog-card -->
            </div><!-- /.col-md-6 col-lg-4 -->
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <div class="blog-card__image">
                        <img src="{% static 'images/blog/blog-grid-3.jpg' %}" alt="Organically grow the holistic world view">
                        <a href="blog-details.html"></a>
                    </div><!-- /.blog-card__image -->
                    <div class="blog-card__content">
                        <div class="blog-card__date">18 Nov</div><!-- /.blog-card__date -->
                        <div class="blog-card__meta">
                            <a href="blog-details.html"><i class="far fa-user-circle"></i> by Admin</a>
                            <a href="blog-details.html"><i class="far fa-comments"></i> 2 Comments</a>
                        </div><!-- /.blog-card__meta -->
                        <h3><a href="blog-details.html">Organically grow the holistic world view</a></h3>
                        <a href="blog-details.html" class="thm-btn">Read More</a><!-- /.thm-btn -->
                    </div><!-- /.blog-card__content -->
                </div><!-- /.blog-card -->
            </div><!-- /.col-md-6 col-lg-4 -->
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <div class="blog-card__image">
                        <img src="{% static 'images/blog/blog-grid-4.jpg' %}" alt="Bring to the table win-win survival">
                        <a href="blog-details.html"></a>
                    </div><!-- /.blog-card__image -->
                    <div class="blog-card__content">
                        <div class="blog-card__date">18 Nov</div><!-- /.blog-card__date -->
                        <div class="blog-card__meta">
                            <a href="blog-details.html"><i class="far fa-user-circle"></i> by Admin</a>
                            <a href="blog-details.html"><i class="far fa-comments"></i> 2 Comments</a>
                        </div><!-- /.blog-card__meta -->
                        <h3><a href="blog-details.html">Bring to the table win-win survival</a></h3>
                        <a href="blog-details.html" class="thm-btn">Read More</a><!-- /.thm-btn -->
                    </div><!-- /.blog-card__content -->
                </div><!-- /.blog-card -->
            </div><!-- /.col-md-6 col-lg-4 -->
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <div class="blog-card__image">
                        <img src="{% static 'images/blog/blog-grid-5.jpg' %}" alt="At the end of the day, going forward">
                        <a href="blog-details.html"></a>
                    </div><!-- /.blog-card__image -->
                    <div class="blog-card__content">
                        <div class="blog-card__date">18 Nov</div><!-- /.blog-card__date -->
                        <div class="blog-card__meta">
                            <a href="blog-details.html"><i class="far fa-user-circle"></i> by Admin</a>
                            <a href="blog-details.html"><i class="far fa-comments"></i> 2 Comments</a>
                        </div><!-- /.blog-card__meta -->
                        <h3><a href="blog-details.html">At the end of the day, going forward</a></h3>
                        <a href="blog-details.html" class="thm-btn">Read More</a><!-- /.thm-btn -->
                    </div><!-- /.blog-card__content -->
                </div><!-- /.blog-card -->
            </div><!-- /.col-md-6 col-lg-4 -->
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <div class="blog-card__image">
                        <img src="{% static 'images/blog/blog-grid-6.jpg' %}" alt="User generated content in real-time">
                        <a href="blog-details.html"></a>
                    </div><!-- /.blog-card__image -->
                    <div class="blog-card__content">
                        <div class="blog-card__date">18 Nov</div><!-- /.blog-card__date -->
                        <div class="blog-card__meta">
                            <a href="blog-details.html"><i class="far fa-user-circle"></i> by Admin</a>
                            <a href="blog-details.html"><i class="far fa-comments"></i> 2 Comments</a>
                        </div><!-- /.blog-card__meta -->
                        <h3><a href="blog-details.html">User generated content in real-time</a></h3>
                        <a href="blog-details.html" class="thm-btn">Read More</a><!-- /.thm-btn -->
                    </div><!-- /.blog-card__content -->
                </div><!-- /.blog-card -->
            </div><!-- /.col-md-6 col-lg-4 -->
        </div><!-- /.row -->
        <div class="text-center more-btn__box">
            <a href="#" class="thm-btn">Load More</a><!-- /.thm-btn -->
        </div><!-- /.text-center -->
    </div><!-- /.container -->
</section><!-- /.blog-grid -->


{% endblock %}